body{
    background-color: rgb(239, 239, 239);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.around-content{
    background-color: white;
    padding: 20px;
    font-size: 14px;
    width: 60%;
    margin: auto;
    text-align: justify;
    border: 1px solid rgb(196, 193, 193);
    border-radius: 5px;
}
.container{
    padding: 25px;
}
.header{
    text-align: center;
}