.main-content {
    min-height: 60vh
}

.listing-page {
    min-height: 50vh
}

.sponsors {
    position: relative
}

.sponsors.skyscraper-left {
    position: absolute;
    left: -170px;
    top: 0
}

.sponsors.skyscraper-right {
    position: absolute;
    right: -170px;
    top: 0
}

.sponsors-middle-listing {
    text-align: center
}

.sponsors-middle-listing ins {
    display: block;
    background: #fff;
    margin: 6px;
    border-radius: 3px
}

.detail-page .right-side .sponsors>* {
    margin-bottom: 8px;
    display: block
}

.my-container:before,
.my-container:after {
    content: '';
    display: block;
    float: none;
    clear: both
}

.my-container {
    max-width: 1140px;
    min-width: 1060px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto
}

.versionInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 11px;
    z-index: 99;
    padding: 0 5px 1px;
    border-radius: 5px;
    color: #888;
    font-weight: 500;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    -webkit-animation: randomBorder 5s infinite;
    animation: randomBorder 5s infinite
}

.list-unstyled {
    list-style: none
}

@keyframes random {
    15% {
        color: #007abf
    }
    30% {
        color: #007abf
    }
    45% {
        color: #fff
    }
    60% {
        color: #ff8900
    }
    75% {
        color: #ff8900
    }
}

@keyframes randomBorder {
    15% {
        color: #007abf
    }
    30% {
        color: #007abf
    }
    45% {
        color: #fff
    }
    60% {
        color: #ff8900
    }
    75% {
        color: #ff8900
    }
}

.informMessage {
    color: #fff
}

.informMessage .title {
    font-size: 28px;
    font-weight: 600
}

.informMessage .message {
    font-size: 16px
}

.informMessage .informMessage-content {
    background: #0096de
}

.informMessage a {
    color: #fff;
    border-bottom: 1px dashed #fff
}

body {
    background-color: #f1f1f1;
    font-family: hanuman, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji
}

li a {
    display: block
}

.change-view-bar {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative
}

.change-view-bar .btn {
    font-size: 32px
}

.change-view-bar button {
    position: absolute;
    right: 20px;
    top: 22px;
    font-size: 28px;
    width: 50px;
    height: 50px;
    background: #fafafa;
    border: 1px solid #e1e1e1;
    border-radius: 50%;
    font-weight: 600;
    color: #555;
    z-index: 99;
    text-align: center;
    display: block;
    padding: 0
}

@media(max-width:480px) {
    .change-view-bar .btn {
        font-size: 24px
    }
    .change-view-bar button {
        font-size: 18px;
        width: 32px;
        height: 32px
    }
}

header {
    z-index: 99;
    position: relative;
    box-shadow: 0 1px 3px rgb(0 0 0/10%);
    border-bottom: 1px solid #cfcfcf !important
}

header .nav-link {
    font-weight: 600 !important;
    position: relative
}

header a.nav-link {
    color: #006da1
}

header .nav .nav-user-photo a {
    padding-top: 3px;
    padding-bottom: 0
}

header .nav .nav-user-photo .dropdown-menu a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #333;
    min-width: 220px;
    font-weight: 600
}

header .nav .nav-user-photo .dropdown-menu a span {
    display: inline-block;
    margin-right: 8px;
    color: #555;
    font-size: 22px;
    vertical-align: text-bottom
}

header .nav .nav-user-photo .dropdown-menu a:hover,
header .nav .nav-user-photo .dropdown-menu a:hover span {
    color: #006da1
}

header .nav .nav-user-photo .dropdown-menu a:active,
header .nav .nav-user-photo .dropdown-menu a:active span {
    color: #fff;
    background: #006da1
}

header .nav .nav-user-photo .icon-user-photo {
    display: inline-block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .1)
}

header .nav .nav-user-photo a:hover .icon-user-photo {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .5)
}

header .nav-item-login>a>.badge,
header .nav-item-login>.dropdown>.badge {
    position: absolute;
    right: 5px;
    top: 0
}

header .dropdown-item .badge {
    font-size: 8px !important;
    color: #fff !important;
    line-height: 1 !important;
    vertical-align: super !important
}

header .dropdown-item .badge-dotted {
    width: 6px !important;
    height: 6px !important;
    padding: 0 !important
}

header .nav-item-login .icon {
    font-size: 20px
}

header .english-flage,
header .khmer-flage {
    display: inline-block;
    width: 22px;
    height: 22px;
    background: url(../img/Cambodia-40px.png) no-repeat center;
    background-size: contain;
    vertical-align: sub
}

header .english-flage {
    background: url(../img/United-Kingdom-40px.png) no-repeat center;
    background-size: contain
}

header .btn-change-lang .text {
    display: inline-block;
    margin-left: 6px
}

header .input-keyword {
    padding-left: 150px !important
}

header .select-category {
    position: absolute;
    left: 0;
    top: 0;
    width: 140px !important;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: block
}

header select option {
    position: relative
}

select option.main {
    font-weight: 700;
    background: #e1e1e1 !important
}

select option.child {
    font-style: italic
}

header .dropdown-menu small {
    display: block
}

header .icon-logo {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15)
}

header .dropdown .rounded-circle {
    width: 40px;
    height: 40px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    border: none;
    font-size: 24px;
    line-height: 0
}

.my-breadcrumb .breadcrumb {
    background: 0 0;
    padding: 12px 0;
    margin: 0;
    font-size: 14px
}

.my-breadcrumb .breadcrumb i {
    display: inline-block;
    margin-right: 5px;
    width: 14px
}

.my-breadcrumb .breadcrumb a {
    display: inline-block
}

.btn-facebook {
    padding: 8px 20px 8px 55px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #4e69a2;
    border-color: #435a8b #3c5488 #334c83;
    color: #fff;
    position: relative;
    font-weight: 600
}

.btn-facebook i {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding: 10px
}

.btn-facebook:hover,
.btn-facebook:active,
.btn-facebook:focus {
    background-color: #3b5998;
    color: #fff
}

.btn-default {
    background: #fff;
    border-color: #d1d1d1
}

.btn-outline-default {
    background: 0 0;
    color: #fff;
    border: 2px solid #fff
}

.btn-outline-default:hover {
    background: #fff !important;
    color: #006da1 !important
}

.btn-clear {
    background: 0 0
}

.btn-warning,
.btn-outline-warning:hover {
    background: #ff8900 !important;
    border-color: #ee8001 #ee8001 #e37a01 #ee8001 !important
}

.btn-warning {
    color: #fff !important;
    text-shadow: 0 0 1px rgb(0 0 0/80%) !important
}

.btn-warning:hover {
    background-color: #ea7f03 !important
}

.btn-primary,
.btn-outline-primary:hover,
.page-item.active .page-link {
    background: #0096de;
    border-color: #0096de;
    text-shadow: 0 0 1px rgb(0 0 0/80%) !important
}

.btn-primary:hover {
    background-color: #018ccf;
    border-color: #0284c2
}

.btn-outline-primary {
    border-color: #006da1;
    color: #006da1
}

.btn-primary.disabled,
.btn-primary:disabled {
    background: #0096de;
    border-color: #006da1
}

.text-primary {
    color: #006da1 !important
}

.text-warning,
.yellow {
    color: #ff8900 !important
}

.green {
    color: #28a745 !important
}

.text-red,
.red {
    color: #df0000 !important
}

a,
.btn-link,
.page-link {
    color: #006da1
}

a:hover {
    text-decoration: none
}

.truncate {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden
}

.truncate-1 {
    white-space: nowrap
}

.truncate-2 {
    -webkit-line-clamp: 2
}

.truncate-3 {
    -webkit-line-clamp: 3
}

.my-pagination span[aria-hidden=true] {
    font-size: 20px;
    line-height: 0
}

.modal.show .modal-dialog.loading:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .75) url(../img/loading.gif) no-repeat center;
    z-index: 999
}

.modal.loading:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .75) url(../img/loading.gif) no-repeat center;
    cursor: default;
    pointer-events: none
}

.modal.loading:after:hover {
    cursor: default;
    pointer-events: none
}

.form-group label.error {
    display: block;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545
}

.fix-feedback {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    align-items: center;
    display: flex;
    width: 53px
}

.fix-feedback a {
    transform: rotate(-90deg);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-shadow: 1px 1px 1px rgb(0 0 0/50%)
}

.btn-warning,
.btn-outline-warning:hover {
    background: #ff8900 !important;
    border-color: #ee8001 #ee8001 #e37a01 #ee8001 !important
}

.btn-warning {
    color: #fff !important;
    text-shadow: 0 0 1px rgb(0 0 0/80%) !important
}

.btn-warning:hover {
    background-color: #ea7f03 !important
}

header .container,
header .my-container {
    position: relative
}

header .navbar>* {
    position: relative;
    z-index: 2
}

header .navbar-brand {
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: 0
}

header .short-text {
    display: none
}

header .navbar-brand img {
    max-height: 50px;
    width: auto
}

header .nav-pills .nav-link.active {
    background-color: #ff8900;
    font-weight: 600
}

.nav-pills .show>.nav-link {
    background: 0 0
}

header .form-mini-search {
    position: relative;
    overflow: hidden
}

header .form-mini-search input {
    background: #fafafa
}

header .form-mini-search .btn {
    background: 0 0;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #888
}

header .search {
    padding-top: 5px;
    padding-bottom: 15px
}

header .search .btn {
    font-weight: 600
}

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.img-contain {
    object-fit: contain;
    width: 100%;
    height: 100%
}

.item-small-screen {
    display: none
}

header .my-container #header-search {
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    padding-left: 280px !important;
    padding-right: 400px !important;
    z-index: 1
}

@media(min-width:992px) {
    header .container #header-search {
        position: absolute;
        top: 14px;
        left: 0;
        width: 100%;
        padding-left: 310px !important;
        padding-right: 380px !important;
        z-index: 1
    }
}

@media(max-width:767px) {
    header .container .btn-change-lang .text {
        display: none
    }
    header .container .navbar-brand img {
        max-height: 40px;
        width: auto
    }
    header .container .short-text {
        display: block
    }
    header .container .long-text {
        display: none
    }
    header .container .nav-link {
        padding-left: 8px;
        padding-right: 8px
    }
}

@media(max-width:460px) {
    header .container .left-nav {
        display: none
    }
    header .container .nav-link {
        padding-left: 6px;
        padding-right: 6px
    }
    header .container .navbar-brand img {
        max-height: 40px;
        width: auto
    }
}

@media(max-width:420px) {
    .item-wide-screen {
        display: none
    }
    .item-small-screen {
        display: block;
        background: #006da1;
        color: #fff !important;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        text-align: center;
        margin-right: 2px
    }
    .item-small-screen .icon {
        color: #fff !important;
        font-size: 24px
    }
}

@media(max-width:360px) {
    header .container .navbar-brand img {
        max-height: 38px;
        width: auto
    }
}

footer {
    background-color: #069;
    position: relative;
    margin-top: 160px
}

footer .container {
    padding-top: 15px;
    padding-bottom: 15px
}

footer:before {
    content: '';
    position: absolute;
    display: block;
    top: -100px;
    left: 0;
    height: 125px;
    width: 100%;
    background: url(../img/footer.png) center top no-repeat
}

footer .copy-right {
    border-top: 1px solid #015b88;
    color: #fff;
    font-size: 12px
}

footer a {
    color: #eee
}

footer h5,
footer .fheader {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    margin: 14px 0;
    line-height: 1.8
}

footer .col {
    padding-top: 15px;
    padding-bottom: 15px
}

footer ul li a {
    display: block;
    font-size: 14px;
    padding: 2px 0;
    line-height: 1.8
}

footer ul li a:hover {
    color: #fff
}

footer .copy-right a {
    font-weight: 600
}

footer .app-link img.icon-qr {
    max-width: 100%
}

footer .app-link img.img-app {
    max-height: 32px;
    max-width: 100%
}

footer .app-link a {
    display: inline-block
}

footer .app-link>div {
    padding: 0 10px
}

footer ul.has-icon .icon {
    font-size: 22px;
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    line-height: 1.5;
    vertical-align: middle;
    margin-right: 4px
}

footer .has-icon .icon-facebook {
    color: #3b5998
}

footer .has-icon .icon-youtube {
    color: #cc3433
}

footer ul.has-icon li {
    padding: 4px 0
}

#totop {
    display: inline-block;
    padding: 10px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    border-radius: 3px;
    position: fixed;
    bottom: 180px;
    right: 20px;
    transition: all .5s;
    display: none;
    font-size: 16px;
    z-index: 99
}

.feedback-page .content,
.safety-tips-page .content,
.posting-rules-page .content,
.privacy-page .content {
    padding: 30px;
    overflow: hidden
}

.safety-tips-page .content *,
.posting-rules-page .content *,
.privacy-page .content * {
    line-height: 1.5
}

.safety-tips-page h1,
.posting-rules-page h1,
.privacy-page .content h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 600
}

.safety-tips-page h2,
.posting-rules-page h2,
.privacy-page .content h2 {
    font-size: 26px;
    margin-top: 30px;
    font-weight: 600
}

.safety-tips-page h3,
.posting-rules-page h3,
.privacy-page .content h3 {
    font-size: 22px;
    margin-top: 15px;
    font-weight: 600
}

.safety-tips-page p,
.posting-rules-page p,
.privacy-page .content p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 15px
}

.safety-tips-page .content li,
.posting-rules-page .content li,
.privacy-page .content li {
    margin-bottom: 8px
}

.contact-page .content {
    padding: 30px
}

.contact-page .content h1 {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 700;
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 10px
}

.contact-page .content table tr td {
    padding: 8px 0;
    font-size: 16px
}

.contact-page .content table tr td:first-child {
    padding-right: 20px;
    font-weight: 600
}

.promote-posts .content,
.memberships-page .content {
    position: relative;
    overflow: hidden
}

.promote-posts .head,
.memberships-page .head {
    color: #fff;
    background: url(../img/skey-bg.png) bottom;
    padding: 30px 320px 130px 30px
}

.promote-posts img,
.memberships-page .head img {
    position: absolute;
    right: 30px;
    top: 30px
}

.promote-posts h1,
.memberships-page h1 {
    font-size: 38px;
    margin-top: 15px
}

.promote-posts .description,
.memberships-page .description {
    padding: 30px
}

.promote-posts *,
.memberships-page .description * {
    line-height: 1.5
}

.promote-posts h2,
.memberships-page .description h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px
}

.memberships-page .description h3 {
    font-size: 20px;
    font-weight: 600
}

.promote-posts p,
.memberships-page .description p {
    font-size: 16px
}

.memberships-page .description .row {
    padding-top: 30px;
    padding-bottom: 30px
}

.memberships-page .description .row+.row {
    border-top: 1px solid #e1e1e1
}

.promote-posts li,
.memberships-page .description li {
    margin-bottom: 8px
}

.promote-posts .head {
    padding-right: 430px
}

.promote-posts .head img {
    max-width: 420px
}

.promote-posts h2 {
    text-align: left;
    margin-bottom: 15px
}

.feedback-page .upload-box {
    border: 2px dashed #e1e1e1;
    border-radius: 3px;
    padding: 15px;
    background: #fafafa
}

.upload-box.drag-over {
    border-color: #069
}

.feedback-page .list-images {
    overflow: hidden;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px
}

.feedback-page .list-images li {
    float: left;
    width: 20%
}

.feedback-page .list-images li.loading .image:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: #fff url(../img/loading.gif) center no-repeat
}

.feedback-page .list-images .image {
    display: block;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    margin: 8px;
    text-align: center;
    position: relative;
    height: 80px
}

.feedback-page .list-images .image a {
    position: absolute;
    right: -5px;
    top: -5px;
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    font-size: 11px;
    color: rgba(220, 53, 69, .9);
    line-height: 1.9
}

.feedback-page .list-images .image a:hover {
    border-color: #dc3545;
    color: #fff;
    background: #dc3545
}

.feedback-page .info {
    color: #333;
    font-size: 16px
}

.feedback-page .footer-info {
    font-size: 14px;
    color: #555
}

.feedback-page .success-page .icon {
    font-size: 48px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    color: #fff;
    background: #28a745;
    line-height: 1.7;
    margin: 15px auto
}

.feedback-page .success-page h1 {
    font-size: 28px
}

.feedback-page .success-page h1,
.feedback-page .success-page {
    color: #333
}

.pagination.text-right .my-pagination {
    display: inline-block !important
}