body{
    background-color: rgb(239, 239, 239);
    font-family: "Khmer OS Siemreap";
}
/*Header*/
.container{
    padding: 20px;
    width: 80%;
}
.text{
    position: absolute;
}
.sky{
    position: relative;
    padding: 0;
}
.text-block{
    position: absolute;
    top: 30px;
    color: white;
    width: 650px;
    padding-left: 20px;
}
.shop{
    position: absolute;
    top: 35px;
    left: 750px;
}
#blue{
    margin: 0;
    color: rgb(93, 150, 255);
}
/*Body*/
.body{
    position: relative;
    padding: 20px;
    background-color: white;
}
/*Block one*/
.header{
    text-align: center;
}
.description1{
    padding-top: 30px;
    width: 600px;
}
.clock{
    position: absolute;
    top: 90px;
    padding-left: 700px;
}
/*Block two*/
.description2{
    padding-top: 10px;
    width: 550px;
}
.web{
    position: absolute;
    top: 270px;
    padding-left: 600px;
}
/*Block three*/
.description3{
    padding-top: 10px;
    width: 560px;
}
.add{
    position: absolute;
    top: 620px;
    padding-left: 600px;
}
/*Block four*/
.description4{
    padding-top: 10px;
    width: 560px;
}
.banner{
    position: absolute;
    top: 830px;
    padding-left: 600px;
}
/*More information link*/
.more-info{
    padding-left: 10px;
    text-decoration: none;
    font-size: 14px;
}
.more-info:hover{
    text-decoration: underline;
}