<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dtail item(ads) view</title>
    <link rel="stylesheet" href="../css/detailItem.css">
</head>
<body>
    <div class="detail-item dis-flex">
        <div class="ads-banner dis-flex">
            <img src="../images/ads/ads_banner.jpeg" alt="">
        </div>
        <div class="menu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="home-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>
            <a href="../index.html">Home</a>
            / <a href="#">House & Lands</a>/ 
            <a href="#">House for Rent</a>
        </div>

        <div class="main-container dis-flex">
            <div class="card-item">
                <div class="card-img">
                    <img src="../images//ads/villa1.jpg" alt="">
                </div>
                <div class="card-titile-and-icons">
                    <div class="titile">
                        <h3>💰វីឡាឃីងអេសម្រាប់ជួល នៅក្នុងបុរីប៉េងហួតបឹងស្នោរ</h3>
                    </div>
                    <div class="icons">
                        <div class="icon-rounded">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="card-icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" />
                            </svg>
                        </div>
                        <div class="icon-rounded">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="card-icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="pricing">
                    <div class="price-box">
                        <h3>$25,0000</h3>
                    </div>
                </div>
                <div class="item-detail-info">
                    <div class="item-id">
                        <p>Ad Id: <span>10239096</span></p>
                    </div>
                    <div class="category item-detail">
                        <p>Category: <span>House For Rent</span></p>
                    </div>
                    <div class="location item-detail">
                        <p>Locations: <span>Phnom Penh</span></p>
                    </div>
                    <div class="post-date item-detail">
                        <p>Post: <span>24-Dec-23</span></p>
                    </div>
                </div>
                <hr>
                <div class="item-desc">
                    <div class="desc-titile">
                        <p>Descriptions</p>
                    </div>
                    <div class="desc-body">
                        <div class="desc-box">
                            Bedroom: <span>More+</span>
                            <hr>
                        </div>
                        <div class="desc-box">
                            Bathroom: <span>More+</span>
                            <hr>
                        </div>
                        <div class="desc-box">
                            Type: <span>Villa</span>
                            <hr>
                        </div>
                    </div>
                    <div class="post-desc">
                        💰វីឡាឃីងអេសម្រាប់ជួល នៅក្នុងបុរីេប៉ងហួតបឹងស្នោរ  | KingA Villa for Rent in Borey Peng Houth Beong Snor <br>
                            * តម្លៃជួល  | Rent Price: $25,000/ខែ<br>
                            * ទំហំផ្ទះ | House Size: 21m x 16.5m<br>
                            * បន្ទប់គេង | Bedroom: 07<br>
                            * បន្ទប់ទឹក | Bathroom: 09<br>
                            * បន្ទប់ទទួលភ្ញៀវធំទូលាយ | Living-room Big and Nice<br>
                            * ផ្ទះបាយ | Kitchen: 01<br>
                            * សម្ភារៈពេញ  | Fully Furnished<br>
                            *ពត៌មានបន្ថែម សូមធ្វើការទំនាក់ទំនងតាមលេខទូរស័ព្ទៈ<br>
                            📞 <a href="tel:089 466 614" class="btn_show_phone btn_phone cellcard" data-value="089 466 614">
                                <img src="../images//ads/logo/cellcard.png" alt="" class="phone-icon"> 089466xxx <i>ចុចដើម្បីតេ/Click To Call</i>
                               </a> /
                               <a href="tel:093 466 614" class="btn_show_phone btn_phone smart" data-value="093 466 614">
                                <img src="../images/ads/logo/smart.png" alt="" class="phone-icon">093466xxx <i>ចុចដើម្បីតេ/Click To Call</i>
                               </a>
                               <br>
                             Telegram: https://t.me/jasmin_property
                    </div>
                    <div class="desc-contacts">
                        <p>
                            សូមចុចលើលេខទូរស័ព្ទ ដើម្បីបង្ហាញ ហើយកំុភ្លេចនិយាយថាអ្នកបានឃើញការផ្សព្វផ្សាយនេះនៅលើ Khmer24.com។
                            <br>
                            Please click on phone number to show and don't forget to mention that you found this ad on Khmer24.com.
                        </p>
                    </div>
                </div>
                <div class="chart-section">
                    <div class="phone-section">
                        <div class="img">
                            <img src="../images/ads/logo/phone.png" alt="">
                        </div>
                        <div class="phone-number-section">
                            <h1>077999XXX</h1>
                            <a href="#">ចុចដើម្បីបង្ហាញលេខទូរស័ព្ទ</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="user-card">
                <div class="profile">
                    <div class="pro-img">
                        <img src="../images/ads/logo/user.png" alt="">
                    </div>
                    <div class="user-name">
                        <p>Leo Messi</p>
                    </div>
                    <div class="user-status">
                        <p>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="verify-icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                            </svg>
                            Verify Seller
                        </p>
                        <p>View all posts</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>