<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dtail item(ads) view</title>
    <link rel="stylesheet" href="../css/detailItem.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"/>
  </head>
  <body>
    <div class="detail-item dis-flex">
      <div class="ads-banner dis-flex">
        <img src="../images/ads/ads_banner.jpeg" alt="" />
      </div>
      <div class="menu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="home-icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
          />
        </svg>
        <a href="../index.html">Home</a>
        / <a href="#">House & Lands</a>/
        <a href="#">House for Rent</a>
      </div>

      <div class="main-container dis-flex">
        <div class="card-item">
          <div class="card-img">
            <img src="../images//ads/villa1.jpg" alt="" />
          </div>
          <div class="card-titile-and-icons">
            <div class="titile">
              <h3>💰វីឡាឃីងអេសម្រាប់ជួល នៅក្នុងបុរីប៉េងហួតបឹងស្នោរ</h3>
            </div>
            <div class="icons">
              <div class="icon-rounded">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="card-icon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                  />
                </svg>
              </div>
              <div class="icon-rounded">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="card-icon"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <div class="pricing">
            <div class="price-box">
              <h3>$25,0000</h3>
            </div>
          </div>
          <div class="item-detail-info">
            <div class="item-id">
              <p>Ad Id: <span>10239096</span></p>
            </div>
            <div class="category item-detail">
              <p>Category: <span>House For Rent</span></p>
            </div>
            <div class="location item-detail">
              <p>Locations: <span>Phnom Penh</span></p>
            </div>
            <div class="post-date item-detail">
              <p>Post: <span>24-Dec-23</span></p>
            </div>
          </div>
          <hr />
          <div class="item-desc">
            <div class="desc-titile">
              <p>Descriptions</p>
            </div>
            <div class="desc-body">
              <div class="desc-box">
                Bedroom: <span>More+</span>
                <hr />
              </div>
              <div class="desc-box">
                Bathroom: <span>More+</span>
                <hr />
              </div>
              <div class="desc-box">
                Type: <span>Villa</span>
                <hr />
              </div>
            </div>
            <div class="post-desc">
              💰វីឡាឃីងអេសម្រាប់ជួល នៅក្នុងបុរីេប៉ងហួតបឹងស្នោរ | KingA Villa for
              Rent in Borey Peng Houth Beong Snor <br />
              * តម្លៃជួល | Rent Price: $25,000/ខែ<br />
              * ទំហំផ្ទះ | House Size: 21m x 16.5m<br />
              * បន្ទប់គេង | Bedroom: 07<br />
              * បន្ទប់ទឹក | Bathroom: 09<br />
              * បន្ទប់ទទួលភ្ញៀវធំទូលាយ | Living-room Big and Nice<br />
              * ផ្ទះបាយ | Kitchen: 01<br />
              * សម្ភារៈពេញ | Fully Furnished<br />
              *ពត៌មានបន្ថែម សូមធ្វើការទំនាក់ទំនងតាមលេខទូរស័ព្ទៈ<br />
              📞
              <a
                href="tel:089 466 614"
                class="btn_show_phone btn_phone cellcard"
                data-value="089 466 614"
              >
                <img
                  src="../images//ads/logo/cellcard.png"
                  alt=""
                  class="phone-icon"
                />
                089466xxx <i>ចុចដើម្បីតេ/Click To Call</i>
              </a>
              /
              <a
                href="tel:093 466 614"
                class="btn_show_phone btn_phone smart"
                data-value="093 466 614"
              >
                <img
                  src="../images/ads/logo/smart.png"
                  alt=""
                  class="phone-icon"
                />093466xxx <i>ចុចដើម្បីតេ/Click To Call</i>
              </a>
              <br />
              Telegram: https://t.me/jasmin_property
            </div>
            <div class="desc-contacts">
              <p>
                សូមចុចលើលេខទូរស័ព្ទ ដើម្បីបង្ហាញ
                ហើយកំុភ្លេចនិយាយថាអ្នកបានឃើញការផ្សព្វផ្សាយនេះនៅលើ Khmer24.com។
                <br />
                Please click on phone number to show and don't forget to mention
                that you found this ad on Khmer24.com.
              </p>
            </div>
          </div>
          <div class="chart-section">
            <div class="phone-section">
              <div class="img">
                <img src="../images/ads/logo/phone.png" alt="" />
              </div>
              <div class="phone-number-section">
                <h2>077999XXX</h2>
                <a href="#">ចុចដើម្បីបង្ហាញលេខទូរស័ព្ទ</a>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="share">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="card-icon-footer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z" />
                </svg>
                Share
            </div>
            <div class="report">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="card-icon-footer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
                </svg>
                Report
            </div>
          </div>
        </div>
        <div class="user-card-and-sponsor">
            <div class="user-card">
                <div class="profile">
                    <div class="pro-img">
                      <img src="../images/ads/logo/user.png" alt="" />
                    </div>
                    <div class="user-info">
                      <p class="username">Leo Messi</p>
                      <p>
                        Online Now
                        <br />Show all ads from this user
                      </p>
                    </div>
                  </div>
                  <div class="phone-section">
                    <div class="img">
                      <img src="../images/ads/logo/phone.png" alt="" />
                    </div>
                    <div class="phone-number-section">
                      <h2>077999XXX</h2>
                      <a href="#">Click to show phone number</a>
                    </div>
                  </div>
                  <div class="user-website">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="store-icon"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z"
                      />
                    </svg>
                    <a href="https://www.khmer24.com/en/LeadingProperty"
                      >Click here to show more</a
                    >
                  </div>
                  <hr />
                  <div class="user-map">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      class="map-icon"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                      />
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                      />
                    </svg>
                    <p>Phnom Penh , www.leading-property.com</p>
                  </div>
                  <div class="map-container">
                  <div id="map"></div>
                  </div>
                  <hr>
                  <div class="chat">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="chat-icon">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375M21 12c0 4.556-4.03 8.25-9 8.25a9.764 9.764 0 0 1-2.555-.337A5.972 5.972 0 0 1 5.41 20.97a5.969 5.969 0 0 1-.474-.065 4.48 4.48 0 0 0 .978-2.025c.09-.457-.133-.901-.467-1.226C3.93 16.178 3 14.189 3 12c0-4.556 4.03-8.25 9-8.25s9 3.694 9 8.25Z" />
                    </svg>
                    Chat
                  </div>
            </div>

            <div class="sponsors text-center pt-3">
                <div style="height: 600px;">
                <ins data-revive-zoneid="9" data-revive-id="1c4e23f4588342eb9ee5f1c55517c2cf" data-revive-seq="2" id="revive-0-2" data-revive-loaded="1" style="text-decoration: none;">
                    <a href="https://www.khmer24.ws/www/delivery/cl.php?bannerid=75&amp;zoneid=9&amp;sig=f18d58572fcdbe4d3a299010b6575817ab041d08d7f4c3578d1f7b20b8390b69&amp;dest=https%3A%2F%2F1xcambodia.com%2Fkm%2Fregistration%3Ftag%3Dd_1318753m_1622c_" target="_blank" rel="noopener nofollow">
                        <img src="https://www.khmer24.ws/www/delivery/ai.php?filename=banner-1xbet(300x600).gif (2)&amp;contenttype=gif" width="300" height="600" alt="" title="" border="0">
                    </a>
                    <div id="beacon_7f982ac4c3" style="position: absolute; left: 0px; top: 0px; visibility: hidden;">
                        <img src="https://www.khmer24.ws/www/delivery/lg.php?bannerid=75&amp;campaignid=62&amp;zoneid=9&amp;loc=https%3A%2F%2Fwww.khmer24.com%2Fen%2Fproperty%2Fn372-swimming-pool-2-bedrooms-apartment-near-bkk1-for-rent-adid-10431919&amp;referer=https%3A%2F%2Fwww.khmer24.com%2Fen&amp;cb=7f982ac4c3" width="0" height="0" alt="" style="width: 0px; height: 0px;">
                    </div>
                </ins>
            </div>
        </div>
    </div>
  </body>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <script>
        const map = L.map('map', {
            center: [12.490213662533307, 104.93041992187501],  
            zoom: 6                  
        });
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    </script>
</html>
