body {
    background: #F4F6F7;
}
.forget-password-form {
    width: 42%;
    /* width: 40%; */
    height: auto;
    margin: auto;
    background: #fff;
    box-sizing: border-box;
    padding: 60px 60px;
    box-shadow: 0px 14px 62px -12px rgba(32, 42, 77, 0.1);
    border-radius: 12px;
}


h3 {
    font-size: 24px;
    font-weight: 900;
    color: #202a4d;
    line-height: 24px;
}
label{
    font-weight: 600;
    color: #202a4d;
    font-size: 16px;
}
p{
    font-size: 18px;
    font-weight: 600;
}
.form-control{
    padding: 9px;
}

.btn-color {
    background: #0096de;
    border-color: #0096de;
    text-shadow: 0 0 1px rgb(0 0 0/80%) !important;
    color: #fff;
    font-weight: 700;
    padding: 10px;
}
input::placeholder{
    font-weight: 500;
    color: rgb(201, 193, 193);
}
.btn-color:hover {
    color: #fff;
    background: #047db4;
}





@media only screen and (max-width: 1400px){
    .forget-password-form {
        width: 50%;
        /* width: 40%; */
        height: auto;
        margin: auto;
        background: #fff;
        box-sizing: border-box;
        padding: 60px 60px;
        box-shadow: 0px 14px 62px -12px rgba(32, 42, 77, 0.1);
        border-radius: 12px;
    }
}
@media only screen and (max-width: 1200px){
    .forget-password-form {
        width: 56%;
    }
}
@media only screen and (max-width: 1024px){
    .forget-password-form {
        width: 60%;
    }
}
@media only screen and (max-width: 995px){
    .forget-password-form {
        width: 65%;
    }
}
@media only screen and (max-width: 768px){
    .forget-password-form {
        width: 75%;
    }
}
@media only screen and (max-width: 576px){
    .forget-password-form {
        width: 90%;
    }
}