/* navbar */
.navbar{
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0/10%);
    border-bottom: 1px solid #cfcfcf!important;
}
.container-fluid{
    width: 75%;
}
.btn-post {
    background: #ff8900;
    color: #fff;
    border: none;
    padding: 8px 16px;
    font-weight: 700;
}
.button-post{
    display: flex;
    align-items: center;
}
.nav-item{
    padding: 8px 16px ;
    font-weight: 700;
    
}
.navbar-nav .nav-link.active{
    color: #006da1;
}