/* navbar */
body{
    background-color: #F1F1F1;
}
.navbar{
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0/10%);
    border-bottom: 1px solid #cfcfcf!important;
    padding: 0.6rem 1rem;
}
.container-fluid{
    width: 75%;
}
.btn-post {
    background: #ff8900;
    color: #fff;
    border: none;
    padding: 8px 18px;
    font-weight: 700;
}
.btn-post:hover{
    background: #eb840e;
    color: #fff;
}
.button-post{
    display: flex;
    align-items: center;
}
.color-or{
    color: #212529 !important;
}
.nav-item{
    padding: 8px 16px ;
    font-weight: 700;
    
}
.navbar-nav .nav-link.active{
    color: #006da1;
    
}
.form-select{
    width: 10px !important;
    padding: 12px 26px;
    font-weight: 600;
    font-size: 1rem;
    color: #495057;
}

input::placeholder{
    font-weight: 600;
    font-size: 1rem;
    color: #495057;
}
.outline{
    outline: none;
}
.select-category{
    width: 150px!important;
}
.search-content{
    width: 300px!important;
}
.breadcrumbs{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}