body {
    background-color: #f1f1f1;
}
.login-container {
    display: flex;
    width: 100%;
    justify-content: center;
}
.form-login {
    width: 30%;
    margin-top: 100px;
    background-color: #ffffff;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.form-titile {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(219, 218, 218);
    padding: 13px;
}
.form-titile h2 {
    margin: auto;
    width: 95%;
}
.login-form-control {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 90%
}
.label {
    width: 100%;
    font-weight: bold;
}
.form-el {
    width: 95.5%;
    box-sizing: border-box;
}
.form-el input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 0.5px solid rgb(207, 207, 207) !important;
    outline: none;
}
.remember-me, .forget-password {
    margin-top: 10px;
    font-size: 18px;
}
.remember-me {
    width: 50%;
}
.forget-password {
    width: 50%;
    display: flex;
    justify-content: end;
}
a {
    text-decoration: none;
}
input {
    cursor: pointer;
}
.login-btn {
    width: 100%;
    padding: 10px;
    border: none;
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #0096de;
    color: white;
    border-radius: 5px;
}
.item-center {
    justify-content: center;
}
.continue-with-facebook {
    display: flex;
    justify-content: center;
    background-color: #0096de;
    width: 60%;
    border-radius: 7px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    align-items: center;
}
.continue-with-facebook img {
    width: 20px;
    padding-right: 10px;
}
.no-acc {
    width: 100%;
}
.create-acc-btn {
    background-color: #ff8900;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
@media screen and (max-width: 1500px) and (min-width: 1000px) {
    .form-login {
        width: 45%;
    }
}
@media screen and (max-width: 1000px) and (min-width: 850px) {
    .form-login {
        width: 60%;
    }
}
@media screen and (max-width: 850px) and (min-width: 500px) {
    .form-login {
        width: 75%;
    }
    .continue-with-facebook p {
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) {
    .form-login {
        width: 90%;
    }
}