@font-face {
    font-family: icomoon;
    src: url(fonts/icomoon.eot?oy910b);
    src: url(fonts/icomoon.eot?oy910b#iefix) format('embedded-opentype'), url(fonts/icomoon.ttf?oy910b) format('truetype'), url(fonts/icomoon.woff?oy910b) format('woff'), url(fonts/icomoon.svg?oy910b#icomoon) format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

[class^=icon-],
[class*=" icon-"] {
    font-family: icomoon !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-company:before {
    content: "\e95f"
}

.icon-click:before {
    content: "\e95b"
}

.icon-eye:before {
    content: "\e95c"
}

.icon-bedroom:before {
    content: "\e958"
}

.icon-bathroom:before {
    content: "\e959"
}

.icon-meter:before {
    content: "\e95a"
}

.icon-foods:before {
    content: "\e956"
}

.icon-pets:before {
    content: "\e957"
}

.icon-setting-outline:before {
    content: "\e94f"
}

.icon-address:before {
    content: "\e900"
}

.icon-airplane:before {
    content: "\e901"
}

.icon-baby-stroller:before {
    content: "\e902"
}

.icon-basket:before {
    content: "\e903"
}

.icon-bicycle:before {
    content: "\e904"
}

.icon-boost-up:before {
    content: "\e905"
}

.icon-briefcase:before {
    content: "\e906"
}

.icon-building:before {
    content: "\e907"
}

.icon-call:before {
    content: "\e908"
}

.icon-car:before {
    content: "\e90a"
}

.icon-chair:before {
    content: "\e90b"
}

.icon-check:before {
    content: "\e90c"
}

.icon-clock:before {
    content: "\e90d"
}

.icon-cycle:before {
    content: "\e90e"
}

.icon-delete:before {
    content: "\e90f"
}

.icon-down:before {
    content: "\e910"
}

.icon-dribbble:before {
    content: "\e911"
}

.icon-earth:before {
    content: "\e912"
}

.icon-edit:before {
    content: "\e913"
}

.icon-email:before {
    content: "\e914"
}

.icon-facebook:before {
    content: "\e915"
}

.icon-folder:before {
    content: "\e916"
}

.icon-gallery:before {
    content: "\e917"
}

.icon-game-controller:before {
    content: "\e918"
}

.icon-google_plus:before {
    content: "\e919"
}

.icon-graduation-cap:before {
    content: "\e91a"
}

.icon-guitar:before {
    content: "\e91b"
}

.icon-headphone:before {
    content: "\e91c"
}

.icon-heart:before {
    content: "\e91d"
}

.icon-home:before {
    content: "\e91e"
}

.icon-house:before {
    content: "\e91f"
}

.icon-image:before {
    content: "\e920"
}

.icon-jewellery-watches:before {
    content: "\e921"
}

.icon-key:before {
    content: "\e922"
}

.icon-laptop:before {
    content: "\e923"
}

.icon-list:before {
    content: "\e924"
}

.icon-live-heart:before {
    content: "\e925"
}

.icon-location:before {
    content: "\e926"
}

.icon-lock:before {
    content: "\e927"
}

.icon-megaphone:before {
    content: "\e928"
}

.icon-menu:before {
    content: "\e929"
}

.icon-message:before {
    content: "\e92a"
}

.icon-money:before {
    content: "\e92b"
}

.icon-monitor:before {
    content: "\e92c"
}

.icon-motorbikes:before {
    content: "\e92d"
}

.icon-mouse:before {
    content: "\e92e"
}

.icon-news:before {
    content: "\e92f"
}

.icon-next:before {
    content: "\e930"
}

.icon-notification:before {
    content: "\e931"
}

.icon-off:before {
    content: "\e932"
}

.icon-phone:before {
    content: "\e933"
}

.icon-phone-check:before {
    content: "\e934"
}

.icon-phone-numbers:before {
    content: "\e935"
}

.icon-plus-cycle:before {
    content: "\e936"
}

.icon-plus-full:before {
    content: "\e937"
}

.icon-point:before {
    content: "\e938"
}

.icon-prev:before {
    content: "\e939"
}

.icon-purse:before {
    content: "\e93a"
}

.icon-red-news:before {
    content: "\e93b"
}

.icon-remove:before {
    content: "\e93c"
}

.icon-renew:before {
    content: "\e93d"
}

.icon-repost:before {
    content: "\e93e"
}

.icon-scotter:before {
    content: "\e93f"
}

.icon-search:before {
    content: "\e940"
}

.icon-share:before {
    content: "\e941"
}

.icon-shield:before {
    content: "\e942"
}

.icon-shoe:before {
    content: "\e943"
}

.icon-star:before {
    content: "\e944"
}

.icon-statistics:before {
    content: "\e945"
}

.icon-store:before {
    content: "\e946"
}

.icon-thumb:before {
    content: "\e947"
}

.icon-tshirt:before {
    content: "\e948"
}

.icon-up:before {
    content: "\e949"
}

.icon-user:before {
    content: "\e94a"
}

.icon-warning:before {
    content: "\e94b"
}

.icon-zoom:before {
    content: "\e94c"
}

.icon-chat:before {
    content: "\e049"
}

.icon-camera:before {
    content: "\e909"
}

.icon-like:before {
    content: "\e950"
}

.icon-arrow_back:before {
    content: "\e5c4"
}

.icon-help_outline:before {
    content: "\e8fd"
}

.icon-group-outline:before {
    content: "\e962"
}

.icon-users:before {
    content: "\e963"
}

.icon-plus-line:before {
    content: "\e960"
}

.icon-tag_faces:before {
    content: "\e955"
}

.icon-user2:before {
    content: "\e954"
}

.icon-cross:before {
    content: "\e953"
}

.icon-send:before {
    content: "\e952"
}

.icon-more_vert:before {
    content: "\e951"
}

.icon-my-location:before {
    content: "\e071"
}

.icon-dots-horizontal-triple:before {
    content: "\e961"
}

.icon-truck:before {
    content: "\e972"
}

.icon-play:before {
    content: "\e96c"
}

.icon-pause:before {
    content: "\e96e"
}

.icon-heart-full:before {
    content: "\e96b"
}

.icon-stop:before {
    content: "\e96f"
}

.icon-meter1:before {
    content: "\e9a6"
}

.icon-chat-fill:before {
    content: "\e96d"
}

.icon-setting:before {
    content: "\e94e"
}

.icon-book:before {
    content: "\e94d"
}

.icon-stats-dots:before {
    content: "\e99b"
}

.icon-page:before {
    content: "\e95d"
}

.icon-pushpin:before {
    content: "\e95e"
}

.icon-youtube:before {
    content: "\ea9d"
}

.icon-image-fill:before {
    content: "\e973"
}

.icon-location-fill:before {
    content: "\e974"
}

.icon-attachment:before {
    content: "\e9cd"
}

.icon-bookmark-o:before {
    content: "\e970"
}

.icon-bookmark:before {
    content: "\e971"
}

.icon-long-arrow-right:before {
    content: "\e96a"
}

.icon-calendar-check-o:before {
    content: "\e964"
}

.icon-calendar-times-o:before {
    content: "\e965"
}

.icon-calendar-minus-o:before {
    content: "\e966"
}

.icon-calendar-plus-o:before {
    content: "\e967"
}

.icon-calendar-o:before {
    content: "\e968"
}

.icon-calendar:before {
    content: "\e969"
}

.icon-notification-fill:before {
    content: "\f0f3"
}